@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
	font-family: "Sono", monospace;
	margin: 0;
	padding: 0;
}

.titre{
	font-family:"Space mono", monospace;
	margin: 0;
	font-size: 20px;
	min-width: 10em;
	max-width: 2em;
	text-decoration: none;
	color: black;
	font-weight:bolder;
}

p{
	margin: 0;
	font-size: 12px;
	min-width: 12em;
	max-width: 12em;
	display: flex;
	margin-right: 3em;

} 

.wrapper{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 170px);
}

.box1 {
	grid-area: 1 / 1 / 1 / 6 ;
}

.box2 {
	grid-area: 1 / 6 / 6 / 9;
}

.box3 {
	grid-area: 2 / 1 / 3 / 2 ;
}

.box4 {
	grid-area: 2 / 2 / 3 / 3 ;
	border-left: 3px solid black;
}

.box5 {
	grid-area: 2 / 3 / 3 / 4 ;
	border-left: 3px solid black;
}

.box6 {
	grid-area: 2 / 4 / 3 / 5 ;
	border-left: 3px solid black;
}

.box7 {
	grid-area: 2 / 5 / 3 / 6 ;
	border-left: 3px solid black;
}

.box8 {
	grid-area: 3 / 1 / 3 / 6 ;
}

.box9 {
	grid-area: 4 / 1 / 4 / 2 ;

}

.box10 {
	grid-area: 4 / 2 / 4 / 6  ;
	display: flex;
	flex-direction: row;
}

.box11 {
	grid-area: 5 / 1 / 6 / 6 ;
	
}







